<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncFixer" version="1.1.4" targetFramework="net461" />
  <package id="Asyncify" version="0.9.7.0" targetFramework="net461" />
  <package id="ClrHeapAllocationAnalyzer" version="1.0.0.8" targetFramework="net461" developmentDependency="true" />
  <package id="codecracker.CSharp" version="1.0.1" targetFramework="net461" developmentDependency="true" />
  <package id="CodeStyleAnalyzer" version="0.1.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="CSharpAnalyzers" version="1.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="Desktop.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="DumbIfsAnalyzer" version="1.0.0.1" targetFramework="net461" />
  <package id="ExpectedObjects" version="1.2.3" targetFramework="net461" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.ApiDesignGuidelines.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="Microsoft.Maintainability.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="Microsoft.QualityGuidelines.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.2-beta2" targetFramework="net461" />
  <package id="NUnit" version="3.6.0" targetFramework="net461" />
  <package id="RefactoringEssentials" version="4.4.0" targetFramework="net461" developmentDependency="true" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="SonarAnalyzer.CSharp" version="1.22.0.1631" targetFramework="net461" developmentDependency="true" />
  <package id="System.Collections.Immutable.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="System.Resources.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="System.Runtime.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="Testing.Commons" version="1.7.0" targetFramework="net461" />
  <package id="Testing.Commons.NUnit" version="3.1.0" targetFramework="net461" />
  <package id="Text.Analyzers" version="1.2.0-beta2" targetFramework="net461" />
  <package id="ToStringWithoutOverrideAnalyzer" version="0.5.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="UselessIfAnalyzer" version="0.0.6099.19184" targetFramework="net461" />
</packages>